@import './font/style.css';

html, body,
h1, h2, h3, h4, h5, h6,
a, p, span {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Circular Std', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3 {
  color: #1d1d1d;
}

a {
  color: #1d1d1d;
  text-decoration: none;
  border-bottom: 3px solid #1d1d1d;
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 75%;
  }
}
