* {
  box-sizing: border-box;
}

body {
  font-family: "Fira Code", monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: #0b0a1e;
  color: white;
}

@media only screen and (max-width: 767px) {
  body {
    font-size: 75%;
  }
}

h1,
h2,
h3,
p,
a {
  margin: 0;
  padding: 0;
  color: white;
}

a {
  font-weight: bold;
}
